$mobile-min-width: 640px;

$font-weight-extra-large: 600;
$font-weight-large: 500;
$font-weight-small: 400;
$font-size: 24px;

$color-black: #000000;
$color-red: #DC3545;
$color-white: #FFFFFF;
$color-transparent-white: #E3EBED;
$color-grey: #808080;
$color-blue: #3195FF;
$color-light-blue: #73C7D5;
$color-green-blue: #18A2B8;
$color-sky-blue: #55B4E0;
$color-light-grey: #A3A4A4;
$color-navbar: #F8F9FA;

$border-grey: 1px solid $color-grey;
$border-black: 1px solid #000000;
$border-white-smoke: 1px solid #D0D7D9;
$border-light-grey: 1px solid #A3A4A4;
$border-radius: 3px;